<table class="ui compact table">
    <thead>
        <tr>
            <th scope="row">Class</th>
            <th scope="row">Pre Primary</th>
            <th scope="row">Class I</th>
            <th scope="row">Class II</th>
            <th scope="row">Class III</th>
            <th scope="row">Class IV</th>
            <th scope="row">Class V</th>
            <th scope="row">Class VI</th>
            <th scope="row">Class VII</th>
            <th scope="row">Class VIII</th>
            <th scope="row">Class IX</th>
            <th scope="row">Class X</th>
            <th scope="row">Class XI</th>
            <th scope="row">Class XII</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Boys</th>
            <td>@{{data.cpp_b}}</td>
            <td>@{{data.c1_b}}</td>
            <td>@{{data.c2_b}}</td>
            <td>@{{data.c3_b}}</td>
            <td>@{{data.c4_b}}</td>
            <td>@{{data.c5_b}}</td>
            <td>@{{data.c6_b}}</td>
            <td>@{{data.c7_b}}</td>
            <td>@{{data.c8_b}}</td>
            <td>@{{data.c9_b}}</td>
            <td>@{{data.c10_b}}</td>
            <td>@{{data.c11_b}}</td>
            <td>@{{data.c12_b}}</td>
        </tr>
        <tr>
            <th>Girls</th>
            <td>@{{data.cpp_g}}</td>
            <td>@{{data.c1_g}}</td>
            <td>@{{data.c2_g}}</td>
            <td>@{{data.c3_g}}</td>
            <td>@{{data.c4_g}}</td>
            <td>@{{data.c5_g}}</td>
            <td>@{{data.c6_g}}</td>
            <td>@{{data.c7_g}}</td>
            <td>@{{data.c8_g}}</td>
            <td>@{{data.c9_g}}</td>
            <td>@{{data.c10_g}}</td>
            <td>@{{data.c11_g}}</td>
            <td>@{{data.c12_g}}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>@{{totals data 'pp'}}</td>
            <td>@{{totals data '1'}}</td>
            <td>@{{totals data '2'}}</td>
            <td>@{{totals data '3'}}</td>
            <td>@{{totals data '4'}}</td>
            <td>@{{totals data '5'}}</td>
            <td>@{{totals data '6'}}</td>
            <td>@{{totals data '7'}}</td>
            <td>@{{totals data '8'}}</td>
            <td>@{{totals data '9'}}</td>
            <td>@{{totals data '10'}}</td>
            <td>@{{totals data '11'}}</td>
            <td>@{{totals data '12'}}</td>
        </tr>
    </tbody>
</table>
Teachers
<table class="ui table">
    <thead>
        <tr>
            <th>Male</th>
            <th>Female</th>
            <th>Primary Teachers</th>
            <th>Upper Primary Teachers</th>
            <th>Secondary Teachers</th>
            <th>Higher Secondary Teachers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@{{data.tch_m}}</td>
            <td>@{{data.tch_f}}</td>
            <td>@{{data.tchpri}}</td>
            <td>@{{data.tchupr}}</td>
            <td>@{{data.tchsec}}</td>
            <td>@{{data.tchhsec}}</td>
        </tr>
    </tbody>
</table>